/******* Login form ********/

.container-login {
    display: flex;
    flex-flow: column;
    min-height: 50vh;
    width: 70vh;
    padding: 1vw;
    margin: 15vh auto 0 auto;
    border: 2px solid #113f67;
    box-shadow: 0 4px 20px rgba(0, 25, 79, 0.404);
    border-radius: 20px;

}

.container-login > form {
    display: flex;
    flex-flow: column;
    padding: 4vh;
    height: 40vh;
}

.titre-login {
    text-align: center;
    margin: 0 auto 3vh auto;
}

.input-login {
    margin: 2vh;
    padding: 2vh;
    border: none;
    border-radius: 5px;
}

.btn-login {
    width: 50%;
    padding: 2vh;
    margin: 1vh auto 1vh auto;
    border: none;
    border-radius: 10px;
    font-family: monospace;
    font-weight: 600;
    font-size: 1.5em;
    background-color:  #385170;
    color: white;
    cursor: pointer;
    transition-duration: 0.5s;
}

.btn-login:hover {
    background-color: #113f67;
    color: white;
    transition-duration: 0.5s;
}

.container-lien {
    display: flex;
    justify-content: space-between;
    margin: 2vh;
}


/******* forgot form ********/

.container-forgot {
    display: flex;
    flex-flow: column;
    min-height: 40vh;
    width: 70vh;
    padding: 1vw;
    margin: 15vh auto 0 auto;
    border: 2px solid #113f67;
    box-shadow: 0 4px 20px rgba(0, 25, 79, 0.404);
    border-radius: 20px;

}

.container-forgot > form {
    display: flex;
    flex-flow: column;
    padding: 4vh;
    height: 30vh;
}

.titre-forgot {
    text-align: center;
    margin: 0 auto 3vh auto;
}

.label-forgot {
    margin: 1vh;
}

.input-forgot {
    margin-top: 3vh;
    padding: 2vh;
    border: none;
    border-radius: 5px;
}

.btn-forgot {
    width: 50%;
    padding: 2vh;
    margin: 5vh auto 1vh auto;
    border: none;
    border-radius: 10px;
    font-family: monospace;
    font-weight: 600;
    font-size: 1.5em;
    background-color:  #385170;
    color: white;
    cursor: pointer;
    transition-duration: 0.5s;
}

.btn-login:hover {
    background-color: #113f67;
    color: white;
    transition-duration: 0.5s;
}

