*{
    margin: 0;
}

body { 
    display: flex;
    flex-flow: column;   
    background-color: #e7eaf6;
    font-family: monospace;
}

h1{
    margin: 1em;
}

p {
    text-align: center;
    margin: 2em;
    color: red;
}