.container{
    align-items: center;
    margin: 10% auto 0 auto;
    display: flex;
    flex-flow:column;
}

.container > h1 {

    font-size: 4em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

#toggleCheckbox{
    margin-bottom: 1em;
    width: 20px;
    height: 20px;
}

/* Masquer les paragraphes par défaut */
.hidden-paragraphs p {
    display: none;
}

/* Afficher les paragraphes lorsque la case à cocher est cochée */
#toggleCheckbox:checked ~ label + .hidden-paragraphs p {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
}