.titre-utilis{
    margin: 2em auto 1em auto;
    text-align: center;
    text-decoration: underline;
}

table{
    border-collapse: collapse;
    margin: 2em 1em 2em 1em;
}

table tr > th {
    padding: 1em;
    border: 1px solid #113f67;
    background-color: #38598b;
    color: white;
}
  
td{
    border: 1px solid black;
    padding: 1em;
    text-align: center;
}

.bloc-action{
  display: flex;
  flex-flow: row;
}

.form-action {
  width: 80%;
  margin: 5px 5px 0px 5px;
  padding: 0;
  border: none;
}

.form-action > .Btn-sup {
  width: 60%;
  padding: 5px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #f64b3c;
  color: white;
  font-family: monospace;
  transition-duration: 0.5s;
}

.form-action > .Btn-sup:hover{
  background-color: #c81912;
  transition-duration: 0.5s;
}

div {
  display: flex;
  justify-content: center;
  margin: 0.5em;
}

.btn-ajout {
  width: 12.5%;
  padding: 1em;
  margin: 2em 1em 0em 1.2em;
  border-radius: 5px;
  border: none;
  background-color: #113f67;
  cursor: pointer;
  transition-duration: 0.5s;
}

.btn-ajout > a {
  color: whitesmoke ;
  font-family: monospace;
  text-decoration: none;
}

.btn-ajout:hover{
  background-color: #38598b;
  transition-duration: 0.5s;
}

.Btn-sup{
  border: none;
}

a {
  margin-top: 10px;
  text-decoration: underline;
  font-weight: 600;
}

.Btn-sup-app{
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #f64b3c;
  color: white;
  transition-duration: 0.5s;
}

.Btn-sup-app:hover {
  background-color: #c81912;
  transition-duration: 0.5s;
}


